.noborder th,.noborder td{
	border:0px!important;
}
.com_jgive_progress_text{
	font-size:9px;
	color:#000000;
}
.td_amt{
	width:50%;
	font-size:9px;
	text-align: right!important;
}
.td_amt_right{
	width:50%;
	font-size:9px;
	text-align: right!important;
}
#button-div{
	width:90%;
}
#prgressbar-div{
	width:65%;
	float:right;
}
#containerdiv{
	width:100%;
}
#image-div{
	width:30%;
	float:left;
}
.amount_lable{
	text-align:right !important;
	float:left;
}
.amount_data{
	text-align:right !important;
	width:50%;
	float:right;
}
.div_padding{
	padding:8px;
}
.div_show_amount{
	font-size:
	10px;width:69%;
	float:right;
}
.show_amount_on{
	margin-top:10%;
}
.show_amount_off{
	margin-left:50%;
	margin-top:-10%;
}
.mod_jgive_pin_layout_font_weight{
font-size:9px !important;
}
.mod_jgive_pin_layout_element:hover
{
border-style:solid !important;
border-color:green !important;
padding:0px;
}

.mod_jgive_pin_layout_element
{
border:2px rgb(210, 210, 210) solid !important;
padding:0px !important;
}
.mode_jgive_pin_layout_style{
margin-left:1%!important;
margin-top:3% !important;
padding:4px;
height:100% !important;
}
.mod_jgive_pin_outer{
padding:4px;
}
.mod_jgive_pin_image{
width: 100%;
}
.mod_jgive_pin_title{
min-height:30px !important;font-weight:bold;
}
.mod_jgive_pin_short_desc{
min-height:60px; margin-top:5%;
}
.mod_jgive_pin_place{
min-height:20px; margin-top:5%;
}
.mod_jgive_pin_amount{
text-align: left !important;
}
.mod_jgive_pin_progress_bar{
background: #ddd;min-height: 6px !important;
}
